modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[[ports]]
localPort = 22801
externalPort = 80

[deployment]
deploymentTarget = "static"
run = ["sh", "-c", "bash -c printf \"%s\\n\\n%s\" \"$0\" \"$1\" Please use the \u001B[1;93mConfiguration\u001B[0m pane to configure your run command. For more info, see: https://docs.replit.com/replit-workspace/configuring-repl#run"]
build = ["bash", "-c", "npm install -g pnpm@latest && pnpm install --shamefully-hoist && pnpm exec expo export --platform web"]
publicDir = "dist"
